li{
    list-style-type: none;
  }
  p{
    margin: 0px;
  }
  a{
    text-decoration: none;
  }
  .logo{
    height: 80px;
  }
  .mid-header{
    padding: 20px 0px;
    height: 110px;
  }
  .inline-block{
    display: inline-block;
    padding: 0px 20px;
  }
  .search-bar{
    border-radius: 20px;
    border: 1px solid #e5e6ec; 
    outline: none;
    padding: 0px 70px 0px 20px;
    height: 45px;
    width: 100%;
  }
  .input-search{
    width: 350px;
    position: relative;
  }
  .search-icon{
    position: absolute;
    right: 20px;
    top: 10px;
  }
  .icon-hotline{
    background-color: black;
    border-radius: 50px;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .shopping-dropdown{
    position: absolute;
    background-color: white;
    display: none;
    z-index: 1000;
    cursor: default;
    min-width: 320px;
    text-align: center;
    right: 0px;
    padding: 10px;
    margin-top: 2px;
  }
  .account-dropdown{
    position: absolute;
    display: none;
    background-color: white;
    display: none;
    width: 180px;
    text-align: center;
    padding: 10px 0px;
    right: -70px;
    margin-top: 2px;
    z-index: 1000;
  }
  #shopping-cart, #account{
    position: relative;
  }
  #shopping-cart:hover .shopping-dropdown{
    display: block;
  }
  #account:hover .account-dropdown{
    display: block;
  }
  .btn-dark{
    font-size: 14px;
    border-radius: 20px;
    padding: 10px 30px;
  }
  .btn-dark:hover{
    background-color: white !important;
    border: 1px solid red !important;
    color: red !important;
  }
  .btn-secondary{
    border-radius: 0px;
    padding: 10px 30px;
    font-size: 14px;
  }
  .btn-secondary:hover{
    background-color: red !important;
  }
  .btn-account{
    width: 150px;
    margin: 0px 0px 5px 0px;
  }
  #shopping-cart, #account, #hotline{
    display: inline-block;
  }
  #account, #shopping-cart{
    padding-left: 20px;
  }
  .hotline-bar{
    border: 2px solid black;
    border-radius: 50px;
    line-height: 18px;
    height: 45px;
    padding: 0px 45px 0px 15px;
    position: relative;
  }
  .hotline-bar:hover{
    color: white;
    background: rgb(81, 81, 81);
    cursor: pointer;
  }
  #icon-hotline{
    position: absolute;
    right: -8px;
    top: -2px;
  }
  .nav-bar{
    background: black;
  }
  .nav-link{
    background: black;
    color: white;
    padding: 11px 40px;
    font-size: 15px;
    margin-right: 5px;
  }
  .nav-link:hover{
    color: white !important;
    background: #d0021b !important;
  }
  .link-brand{
    display: flex;
    justify-content: center;
    align-items: center;
    background:#d0021b;
    margin-right: 5px;
    position: relative;
  }
  .brand-expand{
    color: white;
     position: absolute;
     right: 15px;
  }
  .expand-left{
    color: black;
    position: absolute;
    top: 5px;
    right: -10px;
  }
  .nav-item:hover .brand-dropdown{
    display: block;
  }
  .brand-dropdown{
    display: none;
    color: black;
    background: white;
    width: 200px;
    padding: 6px 10px;
    position: absolute;
    z-index: 1000;
  }
  .brand-type{
    position: relative;
    border-bottom: solid 1px #e5e6ec;
    padding: 6px 0px;
    cursor: pointer;
  }
  .brand-type a:hover, .brand-type a:hover span{
    color: red !important;
  }
  ul li a{
    display: block;
  }
  .type-dropend{
    display: none;
    position: absolute;
    top: -6px;
    right: -210px;
    background: white;
    width: 200px;
    padding: 6px 10px;
    z-index: 1000;
  }
  .brand-type:hover .type-dropend{
    display: block;
  }
  .brand{
    text-align: center!important;
  }
  .container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .intro-brand{
    margin: 25px 0;
  }
  .main-brand{
    height: 3016px;
    width: 100%;
    display: flex;
  }
  .list-product{
    width: 20%;
    height: 14%;
    background-color: #fff;
    margin-right: 32px;
  }
  .name-list-product{
    width: 100%;
    height: 4%;
    padding-top: 4px;
    padding-left: 8px;
    font-weight: 600;
    font-size: 16px;
     text-align: initial;
  }
  .list-list-product{
    border: 1px solid #ebebeb;
    width: 100%;
    height: 95%;
    margin-top: 16px;
  }
  .name-list-list-product{
    width: 100%;
    height: 10%;
    padding-top: 8px;text-align: initial;
  }
  .name-list-list-product-main{
    padding-left: 12px;
    font-size: 16px;
    color: #000;
    margin-top: 32px;
  }
  
  .main-product{
    width: 80%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  