input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
li{
    list-style-type: none;
  }
  p{
    margin: 0px;
  }
  a{
    text-decoration: none;
  }
  .logo{
    height: 80px;
  }
  .container{
    padding: 20px 0px;
    height: auto;
    text-align: center;
  }
  .inline-block{
    display: inline-block;  
    padding: 0px 20px;
  }
  .search-bar{
    border-radius: 20px;
    border: 1px solid #e5e6ec; 
    outline: none;
    padding: 0px 70px 0px 20px;
    height: 45px;
    width: 100%;
  }
  .input-search{
    width: 350px;
    position: relative;
  }
  .search-icon{
    position: absolute;
    right: 20px;
    top: 10px;
  }
  .icon-hotline{
    background-color: black;
    border-radius: 50px;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .shopping-dropdown{
    position: absolute;
    background-color: white;
    display: none;
    z-index: 1000;
    cursor: default;
    min-width: 320px;
    text-align: center;
    right: 0px;
    padding: 10px;
    margin-top: 2px;
  }
  .account-dropdown{
    position: absolute;
    display: none;
    background-color: white;
    display: none;
    width: 180px;
    text-align: center;
    padding: 10px 0px;
    right: -70px;
    margin-top: 2px;
    z-index: 1000;
  }
  #shopping-cart, #account{
    position: relative;
  }
  #shopping-cart:hover .shopping-dropdown{
    display: block;
  }
  #account:hover .account-dropdown{
    display: block;
  }
  .btn-dark{
    font-size: 14px;
    border-radius: 20px;
    padding: 10px 30px;
  }
  .btn-dark:hover{
    background-color: white !important;
    border: 1px solid red !important;
    color: red !important;
  }
  .btn-secondary{
    border-radius: 0px;
    padding: 10px 30px;
    font-size: 14px;
  }
  .btn-secondary:hover{
    background-color: red !important;
  }
  .btn-account{
    width: 150px;
    margin: 0px 0px 5px 0px;
  }
  #shopping-cart, #account, #hotline{
    display: inline-block;
  }
  #account, #shopping-cart{
    padding-left: 20px;
  }
  .hotline-bar{
    border: 2px solid black;
    border-radius: 50px;
    line-height: 18px;
    height: 45px;
    padding: 0px 45px 0px 15px;
    position: relative;
  }
  .hotline-bar:hover{
    color: white;
    background: rgb(81, 81, 81);
    cursor: pointer;
  }
  #icon-hotline{
    position: absolute;
    right: -8px;
    top: -2px;
  }
  .nav-bar{
    background: black;
  }
  .nav-link{
    background: black;
    color: white;
    padding: 11px 40px;
    font-size: 15px;
    margin-right: 5px;
  }
  .nav-link:hover{
    color: white !important;
    background: #d0021b !important;
  }
  .link-brand{
    display: flex;
    justify-content: center;
    align-items: center;
    background:#d0021b;
    margin-right: 5px;
    position: relative;
  }
  .brand-expand{
    color: white;
     position: absolute;
     right: 15px;
  }
  .expand-left{
    color: black;
    position: absolute;
    top: 5px;
    right: -10px;
  }
  .nav-item:hover .brand-dropdown{
    display: block;
  }
  .brand-dropdown{
    display: none;
    color: black;
    background: white;
    width: 200px;
    padding: 6px 10px;
    position: absolute;
    z-index: 1000;
  }
  .brand-type{
    position: relative;
    border-bottom: solid 1px #e5e6ec;
    padding: 6px 0px;
    cursor: pointer;
  }
  .brand-type a:hover, .brand-type a:hover span{
    color: red !important;
  }
  ul li a{
    display: block;
  }
  .type-dropend{
    display: none;
    position: absolute;
    top: -6px;
    right: -210px;
    background: white;
    width: 200px;
    padding: 6px 10px;
    z-index: 1000;
  }
  .brand-type:hover .type-dropend{
    display: block;
  }

  /* header */

  .breadcrumb-item a{
    color: black !important;
    padding: 0 5px;
  }
  .breadcrumb-item a:hover{
    color: #d0021b !important;
  }
  .large-img{
    width: 100%;
    max-width: 418px;
    max-height: 418px;
    border: 1px solid #e5e6ec;
  }
  .small-img{
    width: 85px !important;
    height: 85px;
    border: 2px solid #eaebf3;
    display: inline-block;
  }
  .small-img:hover{
    border: 2px solid #d60f25;
    cursor: pointer;
  }

  .owl-prev{
    position: absolute;
    top: 18px;
    left: -40px;
    width: 0px !important;
    height: 0px !important;
    background: white !important;
    color: black !important;
  }
  .owl-next{
    position: absolute;
    top: 18px;
    right: 0px;
    width: 0px !important;
    height: 0px !important;
    background: white !important;
    color: black !important;
  }
  .status-line{
    display:flex;
    justify-content: left;
    margin-top: 15px'
  }
  .mgr-5{
    margin-right: 5px;
  }
  .mgr-10{
    margin-right: 10px
  }
  .price{
    color: #d0021b;
    font-weight: bolder;
    margin: 10px 0 20px 0;
  }
  .promotion-item{
    margin-top: 10px;
  }
  .rectangle{
    position: relative;
    background-color: #d60f25;
    color: white;
    padding: 3px 15px;
    cursor: pointer;
  }
  .rectangle:after {
    cursor: pointer;
    position: absolute;
    content: "";
    height: 0;
    width: 0;
    top:0;
    right: -9px;
    border-top: 15px solid transparent;
    border-left: 10px solid #d60f25;
    border-bottom: 14px solid transparent;
}
.promotion-info{
  display: none;
  background-color: #f8f8f8;
  padding: 10px 15px 20px 15px;
}
.material{
  margin-top: 20px;
  display: flex;
  justify-content: left;
  align-items: center;
}
.size-box{
  width: 40px !important;
  margin-right: 10px;
  margin-top: 8px;
  border: 1px solid #c6cddb;
  color: #c6cddb;
  cursor: pointer;
}
.chat-lieu{
  border: 1px solid #d60f25 !important;
  color: #d60f25 !important;
  padding: 5px 20px;
  font-weight: 500;
  margin-left: 20px;
}
.btn-group{
  margin-left: 20px !important;
}
.button{
  background-color: white;
  border: 1px solid #e5e6ec;
  font-weight: bolder;
  font-size: 15px;
}
.button:hover{
  background-color: white !important;
  border: 1px solid #e5e6ec !important;
}
#buy-amount{
  width: 50px; 
  border: 1px solid #e5e6ec;
  outline: none;
  text-align: center;
  padding: 0px 10px;
}
.buy-btn{
  padding: 10px 20px;
  color: white;
  background-color: black;
  font-size: 16px;
  font-weight: bold;
  border-radius: 50px;
}
.tab {
  margin: 50px 0 0 0;
  overflow: hidden;
  border: none;
  background-color: white;
}

.tablinks {
  background-color: inherit;
  float: left;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.2s;
  font-size: 19px;
}
.tab button.active {
  background-color: #d60f25;
  color: white;
}
.tabcontent {
  display: none;
  padding: 15px 20px;
  border: 1px solid #e5e6ec;
}
.proc-table thead tr th, .proc-table tbody tr td{
  font-weight: bold;
  text-align: center;
  padding: 15px 10px;
}
.box-product{
  border: 1px solid #e5e6ec;
  width: 70%;
  padding: 5px;
  margin-top: 20px;
}

/* footer */
footer{
  margin-top: 100px;
  width: 100%;
  background-image: url("https://theme.hstatic.net/200000265619/1000946504/14/bg_fot.jpg?v=372");
  background-size: cover;
  background-repeat: no-repeat;
  height: auto; 
  padding: 50px 20%;
}
footer div div p, footer div div h6{
  color: white;
  margin-top: 10px;
} 
